<h2 class="mat-title">Kisanhub Interview Question</h2>

<div fxLayout="row" class="toolbar">
    <mat-form-field>
        <mat-select placeholder="Location" [(value)]="location">
            <mat-option value="UK">UK</mat-option>
            <mat-option value="Wales">Wales</mat-option>
            <mat-option value="UK">Scotland</mat-option>
            <mat-option value="Wales">England</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Metric" [(value)]="metric">
            <mat-option value="Tmin">Minimum temperature</mat-option>
            <mat-option value="Tmax">Maximum temperature</mat-option>
            <mat-option value="Tmean">Mean temperature</mat-option>
            <mat-option value="Sunshine">Sunshine (total hours)</mat-option>
            <mat-option value="Rainfall">Rainfall (mm)</mat-option>
        </mat-select>
    </mat-form-field>

</div>

<app-line-chart [location]="location" [metric]="metric"></app-line-chart>
